*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}


@import "base/fonts";
@import "base/variables";
@import "base/utility-classes";
@import "base/mixin";
@import "components/header";
@import "components/buttons";
@import "pages/hero";
@import "pages/benefits";
@import "pages/location-images";
@import "pages/location";
@import "pages/top-places";
@import "pages/video";
@import "components/footer";
@import "media"
