@font-face{
    font-family: Lato;
    font-weight:400;
    src:url(../fonts/Lato-Regular.ttf)
}
@font-face{
    font-family: Lato;
    font-weight:500;
    src:url(../fonts/Lato-Medium.ttf)
}
@font-face{
    font-family: Lato;
    font-weight:700;
    src:url(../fonts/Lato-Bold.ttf)
}